/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .color
{
    color: #537fbe;
}

/* Removes bullet points in calendar*/
.struct
{
    list-style-type: none;
}

/* Month header */
#title {
    padding: 70px 25px;
    width: 100%;
    background: #9873AC;;
    text-align: center;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.month ul li {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

@media (max-width: 724px) {
    .days li {
        width: 12%;
    }
}
.font-elite {
    font-family: 'Special Elite', cursive;
}

.font-fred {
    font-family: 'Fredericka the Great', cursive;
}

#thismonth {
    font-size: 30px;
}

