{% extends "layout.html" %}

{% block title %}
    Add Event
{% endblock %}

{% block main %}
    <form action="/addevent" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="title" placeholder="Event Title" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="date" type="date" placeholder="YYYY-MM-DD" required pattern="\d{4}-\d{2}-\d{2}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="starttime" type="time" placeholder="hh:mm">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="endtime" type="time" placeholder="hh:mm">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="details" placeholder="Event Details" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Event</button>
    </form>
{% endblock %}

