{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h3>PAST EVENTS</h3>
                <dl class="row">
                {% for row in past %}
                    <dt class="col-sm-3">{{ row.date }} {{ row.starttime }} - {{ row.endtime }} {{ row.title }}</li>
                    <dd class="col-sm-9">
                        <dl class="row" >
                            <dt class="col-sm-4">{{ row.title }}</dt>
                            <dd class="col-sm-6">{{ row.details }}</dd>
                        </dl>
                    </dd>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <h3>TODAY'S EVENTS ({{ today }})</h3>
                <dl class="row">
                {% for row in current %}
                <dt class="col-sm-3">{ row.starttime }}-{{ row.endtime }}</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">{{ row.title }}</dt>
                        <dd class="col-sm-6">{{ row.details }}</dd>
                    </dl>
                </dd>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <h3>FUTURE EVENTS</h3>
                <dl class="row">
                {% for row in future %}
                    <dt class="col-sm-3">{{ row.date }} {{ row.starttime }}-{{ row.endtime }}</dt>
                    <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">{{ row.title }}</dt>
                        <dd class="col-sm-6">{{ row.details }}</dd>
                    </dl>
                    </dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>


{% endblock %}