{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %} 
<div class="month">
    <ul>
        <li>{{ this_month }} <span>{{ year }}</span></li>
    </ul>
</div>
<ul class="struc weekdays">
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
</ul>
<ul class="struc days">
    {% for row in cal %}
        {% for row in row %}
            {% if row == 0 %}
                <li> </li>
            {% else %}
                <li>{{ row }}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>

<div class="mb-3">
    <select class="form-control mx-auto w-auto" name="month" required>
        <option disabled selected>Month</option>
        {% for key, value in months.items() %}
            {% if key == month %}
                <option selected value="{{ key }}"> {{ value }}</option>
            {% else %}
                <option value="{{ key }}">{{ value }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select class="form-control mx-auto w-auto" name="year" required>
        <option disabled selected>Year</option>
        {% for row in years %}
            {% if row == year %}
                <option selected value="{{ row }}">{{ row }}</option>
            {% else %}
                <option value="{{ row }}">{{ row }}</option>
            {% endif %}
        {% endfor %}

    </select>
</div>
<button class="btn btn-primary" type="button"><a href="/addevent">Add Event</a></button>
{% endblock %}