{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %} 
<div class="font-fred">
<div class="month">
    <ul>
        <li>{{ this_month }} <span>{{ year }}</span></li>
    </ul>
</div>
<ul class="struc weekdays d-none d-lg-block">
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
</ul>
<ul class="struc weekdays d-lg-none text-nowrap">
    <li>Mon</li>
    <li>Tues</li>
    <li>Wed</li>
    <li>Thur</li>
    <li>Fri</li>
    <li>Sat</li>
    <li>Sun</li>
</ul>

<ul class="struc days">
    {% for row in cal %}
        {% for row in row %}
            {% if row == 0 %}
                <li> </li>
            {% else %}
                <li>{{ row }}
                    {% if num_of_events[row - 1] == 1 %}
                    <div>
                        <button> {{ num_of_events[row - 1] }} Event</button>
                    </div>
                    {% else %}
                    <div>
                        <button> {{ num_of_events[row - 1] }} Events</button>
                    </div>
                    {% endif %}
                </li>  
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>

<div id="thismonth" class="mt-4">This Month's Events</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for row in events %}
            <tr>
                <td>{{ row.date}}</td>
                <td>{{ row.starttime }} - {{ row.endtime }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.details }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
        <form action="/" method="post">
            <div class="mb-3">
                <select class="form-control mx-auto w-auto mb-1" name="month" required>
                    <option disabled selected>Month</option>
                    {% for key, value in months.items() %}
                        {% if key == month %}
                            <option selected value="{{ key }}"> {{ value }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="form-control mx-auto w-auto mb-1" name="year" required>
                    <option disabled selected>Year</option>
                    {% for row in years %}
                        {% if row == year %}
                            <option selected value="{{ row }}">{{ row }}</option>
                        {% else %}
                            <option value="{{ row }}">{{ row }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="cal" value="2">
            
            <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
</div>
</div>

      

{% endblock %}