{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<div class="pb-3">Change Profile Name:</div>
<form action="/settings" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="old-profile" placeholder="Current Profile Name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="new-profile" placeholder="New Profile Name" type="text">
    </div>
    <input type="hidden" name="profile" value="1">
    <button class="btn btn-primary" type="submit">Change</button>
</form>

<div class="pt-3 pb-3">Reset Password:</div>
<form action="/settings" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="old-pass" placeholder="Current Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="new-pass" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirm-pass" placeholder="Confirm New Password" type="password">
    </div>
    <input type="hidden" name="pass" value="2">
    <button class="btn btn-primary" type="submit">Reset</button>
</form>
{% endblock %}